{
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {}
  },
  "rules": {
    "block-scoped-var": 2,
    "no-cond-assign": 2,
    "no-control-regex": 2,
    "no-debugger": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-ex-assign": 2,
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-redeclare": 2,
    "no-regex-spaces": 2,
    "no-sparse-arrays": 2,
    "no-unexpected-multiline": 2,
    "no-unreachable": 2,
    "no-delete-var": 2,
    "no-shadow": 2,
    "no-undef": 2,
    "radix": 2,
    "semi": 2,
    "use-isnan": 2,
    "valid-jsdoc": 2,
    "valid-typeof": 2
  }
}
