sudo: required
services:
  - docker

language: node_js
node_js:
  - "5"
  - "4"
  - "6"
  - "7"
  - "node"
  - "iojs"
cache: false

before_script:
   - ./test.sh

script:
   - sleep 2
   - npm test
   
after_success:
- npm run coveralls